[submodule "stm32-cmake"]
	path = stm32-cmake
	url = https://github.com/ObKo/stm32-cmake.git
[submodule "Examples/cubemx-example/STM32CubeG0"]
	path = Examples/cubemx-example/STM32CubeG0
	url = https://github.com/STMicroelectronics/STM32CubeG0.git